*.crt
*.key
*.csr
*.srl
*.pem
mosquitto/certs/
mosquitto/data/
mosquitto/log/
Node-Red/images
web-server/backend/node_modules/
web-server/backend/images/
platformio/.pio
platformio/.vscode
platformio/include/secrets.h
platformio-provisioning/.pio
platformio-provisioning/.vscode
platformio-provisioning/include/secrets.h
cat.jpg
